@use "functions" as *;
@use "variables" as *;

@mixin flex-centering() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin grid-centering() {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin max-width($size) {
  width: 100%;
  max-width: $size;
}

@mixin about-link($colorz) {
  &::after {
    content: "";
    width: rem(145);
    height: rem(8);
    background: $colorz;
    opacity: 30%;
    position: absolute;
    border-radius: rem(50);
    left: 0;
    z-index: -1;
  }
  &:hover {
    &::after {
      opacity: 100%;
    }
  }
}
