@use "../utils" as *;

.about {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint-max(md) {
    grid-template-columns: repeat(1, 1fr);
  }

  img {
    width: 100%;

    &.egg-image {
      @include breakpoint-max(md) {
        order: -1;
      }
    }
  }

  .card-about {
    @include flex-centering();

    &__content {
      @include max-width(rem(448));

      @include breakpoint-max(lg) {
        padding: rem(0) rem(20);
      }

      @include breakpoint-max(md) {
        padding: rem(70) rem(20);
      }

      @include breakpoint-max(sm) {
        text-align: center;
      }

      &__title {
        font-family: $base-font-franceus;
        font-size: rem(43);
        margin-bottom: rem(42);
        color: $very-dark-desaturated-blue;

        @include breakpoint-max(lg) {
          font-size: rem(30);
          margin-bottom: rem(30);
        }
      }

      &__description {
        color: $dark-grayish-blue;
        line-height: rem(27);
        margin-bottom: rem(30);
      }
    }
  }

  .link-about {
    font-family: $base-font-franceus;
    text-transform: uppercase;
    font-weight: 700;
    color: $very-dark-desaturated-blue;
    letter-spacing: 0.12em;
    padding-left: rem(8);
    position: relative;

    &--yellow {
      &::after {
        content: "";
        width: rem(145);
        height: rem(8);
        background: $yellow;
        background: rgba($yellow, $alpha: 0.3);
        position: absolute;
        border-radius: rem(50);
        left: 0;
        z-index: -1;
      }
      &:hover {
        &::after {
          ackground: rgba($yellow, 1);
        }
      }
    }

    &--red {
      &::after {
        content: "";
        width: rem(145);
        height: rem(8);
        background: rgba($soft-red, $alpha: 0.3);

        position: absolute;
        border-radius: rem(50);
        left: 0;
        z-index: -1;
      }
      &:hover {
        &::after {
          background: rgba($soft-red, 1);
        }
      }
    }
  }
}
