@use "../utils" as *;

footer {
  background: $cyan;
  padding-top: rem(70);
  padding-bottom: rem(70);
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer__logo {
    @include max-width(rem(180));
    color: $dark-cyan;
    font-weight: 700;
    margin-bottom: rem(60);
  }

  .footer__menu {
    display: flex;
    gap: rem(60);
    color: $dark-moderate-cyan;
    margin-bottom: rem(70);
    align-items: center;

    @include breakpoint-max(sm) {
      gap: rem(50);
    }

    &__list {
      font-size: rem(18);

      &:hover {
        color: $white;
      }
    }
  }

  .footer__social-media {
    display: flex;
    gap: rem(30);

    &__icon {
      font-size: rem(25);
      color: $dark-cyan;

      &:hover {
        color: $white;
      }

      .visually-hidden {
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
        clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
        clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
        white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
      }
    }
  }
}
